
/*Este é um comentário em CSS*/


/*Esta é uma regra CSS3*/
h1 {
    color: red;
}

/*Esta é uma regra CSS3*/


.link{
    display: inline;
    margin: 5%;
}
header{
    background-color: blue;
}
h1 h2 {
    font-family: "Times New Roman", serif;
}
nav {
    font-weight: bold;
}
.container{
    margin: 20px;
}
section{
    line-height: 1.5;
}
form{
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
}